<div class="editor-layout">
  <div class="left-panel" id="leftPanel">
    <app-problem-description 
      [title]="currentQuestion.problemTitle" 
      [description]="currentQuestion.problemDescription" 
      [example]="currentQuestion.problemExample">
    </app-problem-description>
  </div>

  <div class="resizer" (mousedown)="startResize($event)"></div>

  <div class="right-panel" id="rightPanel">
    <app-code-editor [selectedQuestion]="currentQuestion"></app-code-editor>
  </div>
</div>

