<div class="editor-layout">
  <div class="left-panel" id="leftPanel">
    <ng-container *ngIf="!loading">
      <div *ngIf="!examStarted">
        <button mat-raised-button color="primary" (click)="startExam()">Start Exam</button>
      </div>
    </ng-container>
    <app-problem-description 
      [title]="currentQuestion.problemTitle" 
      [description]="currentQuestion.problemDescription" 
      [example]="currentQuestion.problemExample">
    </app-problem-description>
  </div>

  <div class="resizer" (mousedown)="startResize($event)"></div>

  <div class="right-panel" id="rightPanel">
    <app-code-editor [selectedQuestion]="currentQuestion"></app-code-editor>
  </div>
</div>

