<div class="editor-layout">
  <div class="left-panel" id="leftPanel">
    <form [formGroup]="form" class="editor-form">
      <!-- Language Dropdown -->
      <!-- <mat-form-field appearance="fill" class="full-width">
        <mat-label>Questions</mat-label>
        <mat-select formControlName="question" (selectionChange)="onQuestionChange($event.value)">
          <mat-option *ngFor="let question of questionList" [value]="question.id">
            {{ question.problemTitle }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </form>
    <ng-container *ngIf="!loading">
      <div *ngIf="!examStarted">
        <button mat-raised-button color="primary" (click)="startExam()">Start Exam</button>
      </div>
    
      <div *ngIf="examStarted">
        <h3>⏰ Time Left: {{ minutes }}:{{ seconds | number:'2.0' }}</h3>
      </div>
    </ng-container>
    <app-problem-description 
      [title]="currentQuestion.problemTitle" 
      [description]="currentQuestion.problemDescription" 
      [example]="currentQuestion.problemExample">
    </app-problem-description>
  </div>

  <div class="resizer" (mousedown)="startResize($event)"></div>

  <div class="right-panel" id="rightPanel">
    <app-code-editor [selectedQuestion]="currentQuestion"></app-code-editor>
  </div>
</div>
